@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 16px;
    max-width: 1184px;
    margin: 0;
}

@media screen and (max-width: 1140px) {
    .photo-grid {
        max-width: 928px;
        margin: 0 48px 0 48px;
        grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media screen and (max-width: 958px) {
    .photo-grid {
        max-width: 720px;
        margin: 0 24px;
        grid-template-columns: repeat(auto-fit, minmax(347px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(259px, 1fr));
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 16px;
        grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(211px, 1fr));
        grid-gap: 12px;
    }
}