.place__website {
    max-width: 456px;
}

@media screen and (max-width: 958px) {
    .place__website {
        max-width: 352px;
        max-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .place__website {
        display: none;
    }
}